@import "./utils/variables";
@import "./base/base";
@import "./components/buttons";
@import "./components/input";
@import "./layouts/footer";
@import "./layouts/header";
@import "./pages/home";
@import "./pages/pages";

.btn:hover {
    background: $color-hover;

}


.filters__container--title {
    &:hover {
        background: $color-hover;

        i {
            color: $color-primary;
        }
    }
}

.fa-heart {
    &:hover {
        background: $color-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        animation-name: text;
        animation-duration: 5s;
    }

    @keyframes text {
        0% {
            opacity: 0;
        }

        100% {

            opacity: 1;
        }

    }
}