.btn {
    margin-top: 25px;
    background: $color-gradient;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 20px 15px 20px;
    box-shadow: $box-shadow;
    cursor: pointer;


    &:hover {
        background: linear-gradient(-10deg, rgba(147, 86, 220, 0.80), rgba(255, 121, 218, 0.80));
        ;
        transform: scale(1.2);
    }

}

.btn--menu {
    /*bouton menu*/
    padding-left: 45px;
    padding-right: 45px;
    margin: 45px 0 70px;
}