.location {
    background-color: #EAEAEA;
    padding: 15px 0 15px 0;
}

.searchBox i {
    margin-right: 15px;
    margin-left: 20px;
}

/*section explorer*/
.description h1 {
    margin: 20px 0;
    font-size: $title-size;
}